* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-weight: normal;
  background-color: #a0d7ff;
  background: linear-gradient(to right, #8fcefc, #005db2);
  margin: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 0 32px 12px 0;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #17181a;
}

.container {
  width: 375px;
  height: 600px;
  background-color: #17181a;
  padding: 120px 30px;
  border-radius: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  width: 100%;
  text-align: right;
  margin-bottom: 32px;
}

.display .input {
  font-size: 1.5rem;
  margin-bottom: 8px;
  color: #818181;
}

.display .output {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

.display .operator {
  color: #109dff;
}

.keys {
  width: 100%;
  gap: 20px;
  height: auto;

  display: flex;
  justify-content: space-between;
}

.keys .num-keys {
  gap: 20px;
  width: 230px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.keys .action-keys {
  height: 100%;
  gap: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.keys .btn {
  height: 60px;
  width: 60px;
  cursor: pointer;
  font-size: 32px;
  font-weight: 500;
  background-color: #2d3138;
  color: #38b9ff;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.keys .operator-btn {
  background-color: #005db2;
}

.keys .del-btn {
  background-color: #616161;
  color: #a5a5a5;
}

#btn-add,
#btn-equal {
  height: 96px;
}

#btn-equal {
  background-color: #1991ff;
  color: #b2daff;
}

#num-0 {
  width: 146px;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #3b424b;
}

.btn:active {
  background-color: #5d6677;
}

.operator-btn:hover {
  transform: scale(1.05);
  background-color: #016dd3;
}

.operator-btn:active {
  background-color: #0e8afd;
}

#btn-equal:hover {
  background-color: #399fff;
}

#btn-equal:active {
  background-color: #72bbff;
}

.footer {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.input, div.output {
  font-family: Arial, sans-serif;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
